[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
aiomirai = {editable = true,path = "."}

[packages]
httpx = "*"

[requires]
python_version = "3.8"
