[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
aiomirai = {editable = true,extras = ["all"],path = "."}
quart = "==0.12.*"
websockets = "==8.*"

[packages]
httpx = "==0.13.*"

[requires]
python_version = "3.8"
